In [105]:
import pandas as pd
data = pd.read_csv('Mountains.csv')
df =data[['Rank', 'Parent mountain']].groupby(['Parent mountain']).count()
df.columns = ['Count'];
df.loc[(df.Count > 3)]

                 Count
Parent mountain
Cho Oyu              7
Dhaulagiri           4
Distaghil Sar        5
Gasherbrum I         8
K2                   5
Kangchenjunga        7
Mount Everest        9
Shisha Pangma        4